.Header {
    flex: 0 0 auto;
    display: flex;
    flex-flow: row nowrap;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(30rem);

    .LogoContainer {
        flex: 0 0 auto;
        text-decoration: none;
        cursor: pointer;

        .LogoWrapper {
            .Logo {
                height: 3rem;
                padding: 6px 24px;
            }
        }
    }

    .NavigationBar {
        flex: 1 1 auto;
        position: relative;
        display: flex;

        .ActionButtons {
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-end;
            flex: 1 1 auto;
            padding: 0 12px;
            gap: 6px;
            height: 100%;

            .ActionButton {
                display: flex;
                justify-content: center;
                align-items: center;
                flex: 0 1 auto;
                min-width: 100px;
                padding: 6px 8px;
                height: 100%;
                font-size: 1rem;
                color: black;
                text-decoration: none;
                cursor: pointer;
                font-weight: 500;
                transition: all 0.2s ease-in-out;

                &:hover {
                    border-bottom: 2px solid black;
                    font-weight: bold;
                }
            }

            .LogoutActionButton {
                @extend .ActionButton;
                outline: none;
                border: none;
                background-color: rgba(255, 200, 200, 0.25);
                transition: all 0.2s ease-in-out;

                &:hover {
                    background-color: rgba(255, 100, 100, 0.5);
                    color: white;
                }
            }
        }
    }
}
